*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
html{
    font-size: 16px;
}

.g-container{
    padding-right:  6.4rem !important;
    padding-left: 6.4rem !important;
    @media screen and (max-width:768px){
        padding-right:  1rem !important;
        padding-left: 1rem !important;
    }
}

.big{
    width: 25rem;
    height: 25rem;
    background: url('../../assets/bigd.svg');
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;
    position: absolute;
    top: -10rem;
    right: -10rem;
    z-index: -10;
    // background: #000;
    filter: blur(140px);
    animation: blur2 50s  infinite;
    @media screen and (max-width:768px){
      width: 15rem;
      height: 15rem;
      background:url('/assets/bigm.svg');
      background-size: cover;
      background-repeat: no-repeat ;
      background-position: center;
      filter: blur(80px);
   }
}
.small{
    width: 20rem;
    height: 20rem;
    position: absolute;
    background:url('/assets/smalld.svg');
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;
    bottom: -5rem;
    left: -5rem;
    z-index: -10;
    filter: blur(120px);
    animation: blur 50s  infinite;

    @media screen and (max-width:768px){
      width: 10rem;
      height: 10rem;
      background:url('/assets/smallm.svg');
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;
    filter: blur(60px);
   }
}

@keyframes blur {
   0%{
      position: absolute;
      bottom: -5rem;
      left: -5rem;
   }
   20%{
      position: absolute;
      bottom: 15rem;
      left: 15rem;
   }
   40%{
      position: absolute;
      bottom: 30rem;
      left: 1rem;

   }
   60%{
      position: absolute;
      bottom: 20rem;
      left: 40rem;
   }
   80%{
      position: absolute;
      bottom: 10rem;
      left: 60rem;
   }
   100%{

   }
   
}
@keyframes blur2 {
   0%{
      position: absolute;
      top: -10rem;
      right: -5rem;
   }
   20%{
      position: absolute;
      top: 15rem;
      right: 15rem;
   }
   40%{
      position: absolute;
      top: 30rem;
      right: 1rem;

   }
   60%{
      position: absolute;
      top: 20rem;
      right: 40rem;
   }
   80%{
      position: absolute;
      top: 10rem;
      right: 60rem;
   }
   100%{

   }
   
}

@import "components/header";
@import "components/main";